body{

margin:0;
padding: 0;
background: url(drink.jpg);
background-size: cover;
background-position: center;
font-family: sans-serif;

}
.navlogo img{

width: 70px ;
}
.navbar{

  display: flex ;
padding:40px 120px ;}
.menu-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  width: 25%;
  color: white;
  margin: 20px;
  border: 2px solid white;
  box-shadow: 10px 8px 15px gray;
  background-color: rgb(0, 0, 0,0.8);
  transition: .3s ease-in;
}
.card:hover{
  transform: scale(1.1);
}
.section-heading{
  font-size: 2rem;
  text-align: left;
  color: white;
  margin: 50px;
}
.card-img-container{
  width: 100%;
}
.card-img{
  width: 100%;
}
.card-content{
  padding: 10px;
}
.btn{
  text-align: center;
  border: transparent;
  padding: 5px;
  width: 100%;
}
.footer{
background:#6e4f4f ;
color:#946868 ;
padding: 70px 0;


}

.footercontainer{
  max-width: 1170px;
  background-color:#6e4f4f ;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: circle;
}

.footercol{
  width: 25%;
  padding: 0 15px;

}

.footercol h4{
  font-size: 18px;
  color: whitesmoke;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footercol h4 ::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: peachpuff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footercol ul li:not(:last-child){
  margin-bottom: 10px;
}
.footercol ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;

}
.footercol ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footercol p{
  color: silver;
}
.navlinks ul{

  margin-left: 50px;
  display inline;

}
.navlinks ul li{
 list-style:none;
 display:inline-block ;
 padding: 8px 25px;

}

.navlinks ul a {
  
  color:#fff ;
  text-decoration:none ;
  font-size: 13px;}

.navlinks ul li ::after{


content: '';
width: 0;
height: 2px;
background:yellow ;
display: block;
margin: auto;
transition: .5s;
}
.navlinks ul li:hover::after{

  width: 100%;
}
.navlogo img{

width: 60px ;
}
.navlinks h2{
  color: whitesmoke;
  text-align: center;
  margin: 40px;
}




.Sessions{
  position: absolute;
  right: 50px; 
  color: white; 
 
}